{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur MemorEase{% endblock %}

{% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
{% endblock %}

{% block body %}
    <body class="bg-gray-900 text-gray-200 flex flex-col min-h-screen">
        <main class="max-w-4xl mx-auto p-6 flex-grow">
            <section class="bg-gray-700 rounded-lg shadow-lg p-8 mt-8">
                <h2 class="text-2xl font-semibold mb-4">Bienvenue sur notre site !</h2>
                <p class="mb-4">MemorEase est un site d'orthophonie qui utilise des jeux mémoires pour aider à développer les compétences linguistiques et cognitives. Notre objectif est de rendre l'apprentissage agréable et efficace.</p>
                <p class="mb-4">Explorez notre contenu, jouez à notre jeu de mémoire, et découvrez des ressources utiles pour améliorer vos compétences en orthophonie.</p>
            </section>

            <section class="bg-gray-700 rounded-lg shadow-lg p-8 mt-6">
                <h2 class="text-2xl font-semibold mb-4">Comment ça fonctionne ?</h2>
                <ul class="list-disc pl-5">
                    <li class="mb-2">Jouez à notre jeu de mémoire interactif.</li>
                    <li class="mb-2">Suivez vos progrès et améliorez vos compétences.</li>
                    <li class="mb-2">Accédez à des ressources pédagogiques adaptées.</li>
                </ul>
            </section>
        </main>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    </body>
{% endblock %}
