<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bienvenue sur MemorEase{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">


    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet">

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body class="bg-gray-900 text-gray-200 flex flex-col min-h-screen">
    <header class="bg-gray-800 py-6">
        <h1 class="text-center text-4xl font-bold">MemorEase</h1>
        <p class="text-center text-lg mt-2">Un espace dédié à l'orthophonie et à l'apprentissage ludique</p>
    </header>

    <nav class="bg-gray-700 py-4">
        <div class="max-w-4xl mx-auto flex justify-center items-center space-x-6">
            <a href="../home" class="text-gray-200 hover:text-blue-400 transition duration-300 ease-in-out">Accueil</a>
                <a href="../game" class="text-gray-200 hover:text-blue-400 transition duration-300 ease-in-out">Jeu</a>
                <a href="../score" class="text-gray-200 hover:text-blue-400 transition duration-300 ease-in-out">Scores</a>
                <a href="../profil" class="text-gray-200 hover:text-blue-400 transition duration-300 ease-in-out ml-8">Profil</a>
                <a href="../login" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 hover:shadow-lg transition duration-300 ease-in-out">Se connecter</a>
        </div>
    </nav>

    <main class="max-w-4xl mx-auto p-6 flex-grow">
        <section class="bg-gray-700 rounded-lg shadow-lg p-8 mt-8">
            <h2 class="text-2xl font-semibold mb-4">Bienvenue sur notre site !</h2>
            <p class="mb-4">MemorEase est un site d'orthophonie qui utilise des jeux mémoires pour aider à développer les compétences linguistiques et cognitives. Notre objectif est de rendre l'apprentissage agréable et efficace.</p>
            <p class="mb-4">Explorez notre contenu, jouez à notre jeu de mémoire, et découvrez des ressources utiles pour améliorer vos compétences en orthophonie.</p>
        </section>

        <section class="bg-gray-700 rounded-lg shadow-lg p-8 mt-6">
            <h2 class="text-2xl font-semibold mb-4">Comment ça fonctionne ?</h2>
            <ul class="list-disc pl-5">
                <li class="mb-2">Jouez à notre jeu de mémoire interactif.</li>
                <li class="mb-2">Suivez vos progrès et améliorez vos compétences.</li>
                <li class="mb-2">Accédez à des ressources pédagogiques adaptées.</li>
            </ul>
        </section>
    </main>

    <footer class="bg-gray-800 py-4 mt-8">
        <div class="text-center">
            <p>&copy; 2024 MemorEase. Tous droits réservés.</p>
            <p><a href="#" class="text-blue-400 hover:underline">Contactez-nous</a></p>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</body>

</html>
