{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
{{ form_start(form) }}
    <button class="btn btn-danger" type="submit">Add Patient</button>
{{ form_end(form) }}
{% endblock %}
