{% extends 'base.html.twig' %}

{% block title %}Memory game{% endblock %}

{% block body %}
    <section class="memory-game" id="memoryGame">
        {#
        {% for card in cards %}
            <div class="memory-card" data-framework="{{ card.name }}">
                <img class="front-face" src="{{ card.front }}" alt="{{ card.name }}">
                <img class="back-face" src="{{ card.back }}" alt="Memory Card">
            </div>
        {% endfor %}
        #}
    </section>

    <style>
        .memory-card {
            width: calc(25% - 10px);
            height: calc(33.333% - 10px);
            margin: 5px;
            position: relative;
            box-shadow: 1px 1px 1px rgba(0,0,0,.3);
            transform: scale(1);
            transform-style: preserve-3d;
            transition: transform .5s;
        }

        .memory-game {
            width: 600px;
            height: 600px;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            perspective: 1000px;
        }
    </style>
{% endblock %}
