<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} MemorEase {% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet">

    <header class="bg-gray-800 py-6 shadow-lg">

    <body class="bg-gray-900 text-gray-200 flex flex-col min-h-screen">

        <nav class="bg-gray-700 py-4 shadow">
            <div class="max-w-6xl mx-auto flex justify-center items-center space-x-6">
                {% if is_granted('ROLE_USER')%}
                    <a href="../game" class="text-gray-200 hover:text-blue-400 transition duration-300 ease-in-out">Game</a>
                    <a href="../score" class="text-gray-200 hover:text-blue-400 transition duration-300 ease-in-out">Scores</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="../admin" class="text-gray-200 hover:text-blue-400 transition duration-300 ease-in-out ml-8">Admin</a>
                        <a href="../register" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 hover:shadow-lg transition duration-300 ease-in-out">Register</a>
                    {% endif %}
                    <a href="{{ path('app_logout') }}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition duration-300 ease-in-out"> Log out </a>
                {% else %}
                    <a href="../home" class="text-gray-200 hover:text-blue-400 transition duration-300 ease-in-out">Home</a>
                    <a href="../login" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 hover:shadow-lg transition duration-300 ease-in-out">Log in</a>
                {%endif%}
            </div>
        </nav>

    </header>

    {% block stylesheets %}
    {% endblock %}
    
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
    
    {% block body %}
        <h1>Test</h1>
    {% endblock %}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>

        <footer class="bg-gray-800 py-4">
            <div class="text-center">
                <p>&copy; 2024 MemorEase. All rights reserved.</p>
                <p><a href="#" class="text-blue-400 hover:underline">Contact-us</a></p>
            </div>
        </footer>
</body>
</html>
